@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Nunito:200,300,400,600&display=swap');
// @import "../scss/fontawesome.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Nunito', sans-serif;
  background: #000;
  widows: 100vw;
}
#intro {
  position: relative;
  height: 105vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  #myHeadshot {
    position: absolute;
    width: 65%;
    bottom: 0;
    left: 10px;
  }
  #header {
    position: absolute;
    left: 50%;
    border-left: 2px solid #333;
    padding: 0px 20px 20px;
    h1 {
      font-family: 'Lora', serif;
      font-weight: 400;
      font-style: italic;
      font-size: 62px;
      color: #333;
    }
    p {
      font-family: 'Lora', serif;
    }
    .contact a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-decoration: none;
      color: inherit;
      margin-top: 10px;
      &:hover {
        text-decoration: underline;
        color: #cc5500;
      }
      i {
        font-size: 18px;
        padding: 0 10px 0 0;
        color: #aaa;
      }
    }
  }
  .page-links-mobile,
  .page-links-mobile-only {
    display: none;
  }

  .page-links {
    position: fixed;
    z-index: 900;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    ul {
      list-style: none;
      display: flex;
      color: #333;
      line-height: 200%;
      li {
        color: #333;
        font-size: 18px;
        cursor: pointer;
        padding: 0px 20px;
        border-right: 2px solid #333;
        &:hover {
          color: #cc5500;
        }
      }
      li:last-child {
        border: none;
      }
    }
  }
  .about-btn {
    position: absolute;
    bottom: 150px;
    width: 150px;
    height: 55px;
    background: transparent;
    border-radius: 27px;
    border: 2px solid #000;
    color: #333;
    font-size: 18px;
    cursor: pointer;
    &:hover {
      background: #000;
      color: #cc5500;
    }
    &:focus {
      outline: none;
    }
  }
}
.section-header {
  position: relative;
  top: 20px;
  margin: 20px;
  .back-to-top {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #343434;
    opacity: 0.5;
    cursor: pointer;
  }
  h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 62px;
    color: #343434;
  }
}
.content {
  width: 90%;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 30px 0px;
  .portfolio-example {
    position: relative;
    background-color: #fff;
    width: 32%;
    height: 300px;
    margin: 0.5%;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      height: auto;
    }
    .btn-container {
      position: absolute;
      border-radius: 10px 10px 0px 0px;
      padding: 10px;
      top: 85%;
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      justify-content: center;
      background: #000;
      color: #fff;
      opacity: 0.8;
      h3 {
        width: 100%;
        padding: 0px;
        margin: 0px;
      }
      p {
        position: absolute;
        top: 45px;
        width: 100%;
        padding: 0px 20px;
      }
      a {
        color: #fff;
      }
      .icon-container {
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .spacer {
          border: 1px solid #fff;
          height: 30%;
          width: 1px;
        }
      }
    }
    .active-category {
      top: 0px !important;
      border-radius: 0;
    }
  }
}

#development {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #eee;
}
#photography {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  .section-header {
    color: #999 !important;
  }
}
#graphic-design {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}
#about {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .about-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    width: 40%;
    padding: 40px;
    color: #fff;
    p {
      line-height: 160%;
      width: 100%;
      text-align: center;
    }
    #content-links {
      position: relative;
      margin: 50px 0px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      justify-content: space-around;
      #icon-container {
        width: 40%;
        display: flex;
        justify-content: space-around;
        margin: 20px;
        a {
          color: #fff;
        }
      }
      button {
        position: relative;
        margin: 0px 10px;
        width: 150px;
        height: 55px;
        background: transparent;
        border-radius: 27px;
        border: 2px solid #343434;
        color: #343434;
        font-size: 18px;
        cursor: pointer;
      }
      button:hover {
        border: 2px solid #f3f3f3;
        color: #f3f3f3;
      }
    }
  }
}
.coming-soon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background: #000;
  opacity: 0.8;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  h1 {
    font-size: 82px;
    margin-top: 150px;
  }
}
@media only screen and (max-width: 1100px) {
  #intro {
    #myHeadshot {
      position: absolute;
      width: 65%;
      left: 17%;
    }
    #header {
      position: absolute;
      top: 150px;
      width: 40%;
      left: 30%;
      text-align: center;
      border-left: none;
      border-bottom: 2px solid #333;
      padding: 0px 20px 20px;
    }
    .page-links {
      top: 20px;
      right: 15%;
      width: 70%;
      justify-content: center;
    }
    .about-btn {
      bottom: 80px;
      background: #000;
      border-radius: 27px;
      border: 2px solid #000;
      color: #fff;
      font-size: 18px;
      cursor: pointer;
    }
    .about-btn:hover {
      background: transparent;
      color: #333;
    }
    .about-btn:focus {
      outline: none;
    }
  }
  .content {
    width: 90%;
    .portfolio-example {
      width: 49%;
    }
    .porfolio-example:nth-child(3n) {
      width: 100%;
    }
    .portfolio-example:nth-child(4) {
      width: 49%;
    }
    .portfolio-example:nth-child(7) {
      width: 49%;
    }
  }
  #about {
    .about-content {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      width: 70%;
      padding: 40px;
      color: #fff;
      p {
        line-height: 160%;
        width: 100%;
      }
      #content-links {
        position: relative;
        margin: 50px 0px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        justify-content: space-around;
        #button-container {
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          button {
            position: relative;
            width: 150px;
            height: 55px;
            margin: 0px;
            background: transparent;
            border-radius: 27px;
            border: 2px solid #343434;
            color: #343434;
            font-size: 18px;
            cursor: pointer;
          }
          button:hover {
            border: 2px solid #f3f3f3;
            color: #f3f3f3;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 960px) {
  #intro {
    #myHeadshot {
      width: 80%;
      left: 10%;
    }
    #header {
      position: absolute;
      top: 120px;
      width: 60%;
      left: 20%;
      text-align: center;
      border-left: none;
      border-bottom: 2px solid #333;
      padding: 0px 20px 20px;
      h1 {
        font-family: 'Lora', serif;
        font-weight: 400;
        font-style: italic;
        font-size: 62px;
        color: #333;
      }
      p {
        font-family: 'Lora', serif;
      }
    }
    .page-links {
      top: 20px;
      right: 0%;
      width: 100%;
      justify-content: center;
    }
    .about-btn {
      bottom: 80px;
      width: 150px;
      height: 55px;
    }
    .about-btn:hover {
      background: #000;
      color: #fff;
    }
    .about-btn:focus {
      outline: none;
    }
  }
  #about {
    .about-content {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      width: 80%;
      padding: 40px;
      color: #fff;
      p {
        line-height: 160%;
        width: 100%;
      }
      #content-links {
        position: relative;
        margin: 50px 0px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        justify-content: space-around;
        #button-container {
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          button {
            position: relative;
            width: 150px;
            height: 55px;
            background: transparent;
            border-radius: 27px;
            border: 2px solid #343434;
            color: #343434;
            font-size: 18px;
            cursor: pointer;
          }
          button:hover {
            border: 2px solid #f3f3f3;
            color: #f3f3f3;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .hide {
    display: none !important;
  }
  a,
  a:hover,
  a:focus {
    text-decoration: none;
    color: inherit;
  }
  #intro {
    width: 100%;
    position: relative;
    #myHeadshot {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
    }
    #header {
      position: absolute;
      top: 156px;
      width: 90%;
      left: 5%;
      text-align: center;
      border-left: none;
      border-bottom: 2px solid #333;
      padding: 0px 20px 20px;
      h1 {
        font-family: 'Lora', serif;
        font-weight: 400;
        font-style: italic;
        font-size: 48px;
        color: #333;
      }
      p {
        font-family: 'Lora', serif;
      }
    }
    .page-links-mobile {
      position: fixed;
      z-index: 900;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      top: 0px;
      left: 0;
      width: 100%;
      height: 55px;
      background: #000;
      color: #fff;
    }
    .page-links {
      display: none;
    }
    .page-links-mobile-only {
      position: fixed;
      z-index: 900;
      display: flex;
      top: -156px;
      width: 100%;
      padding: 0px;
      justify-content: space-around;
      background: #000;
      color: #fff;
      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        color: #fff;
        line-height: 200%;
        li {
          color: #fff;
          font-size: 18px;
          text-align: center;
          cursor: pointer;
          padding: 10px 20px;
          border-right: none;
        }
        li:last-child {
          border: none;
        }
      }
    }
    .about-btn {
      bottom: 80px;
      width: 150px;
      height: 55px;
    }
  }
  .content {
    width: 100%;
    .portfolio-example {
      width: 100%;
    }
    .portfolio-example:nth-child(4) {
      width: 100%;
    }
    .portfolio-example:nth-child(7) {
      width: 100%;
    }
  }
  #about {
    .about-content {
      width: 100%;
      #content-links {
        width: 100%;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        #icon-container {
          width: 100%;
        }
        #button-container {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          justify-content: center;
          a {
            width: 100%;
          }
          button {
            position: relative;
            margin-top: 20px;
            width: 100%;
            height: 55px;
            background: transparent;
            border-radius: 0px;
            border: 2px solid #343434;
            color: #343434;
            font-size: 18px;
          }
          button:focus {
            outline: none;
          }
        }
      }
    }
  }
}
